/* /styles/globals.css */

a {
  color: white !important;
}



body {
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
  color: #333;
}

a {
  transition: color 0.3s ease;
}

a:visited {
  color: inherit; /* Farbe bleibt gleich nach dem Besuch */
}

a.no-visited {
  color: inherit;
}

a.no-visited:visited {
  color: inherit; /* Überschreibt die Standardfarbe für besuchte Links */
}

a:hover {
  color: #4a5568;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.text-gray-800 {
  color: #2d3748;
}

.text-indigo-600 {
  color: #5a67d8;
}

.hover\:text-indigo-800:hover {
  color: #434190;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.transition-transform {
  transition: transform 0.3s ease;
}

.transform {
  transform: scale(1);
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.prose {
  max-width: 65ch;
  line-height: 1.75;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.prose p {
  margin-bottom: 1rem;
}

input[type="text"] {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #5a67d8;
  box-shadow: 0 0 0 3px rgba(90, 103, 216, 0.2);
  outline: none;
}



  @tailwind base;
@tailwind components;
@tailwind utilities;


.break-words {
  word-wrap: break-word;
  white-space: pre-wrap; /* Zeilenumbruch bei langen Wörtern und Textumbruch bei Whitespace */
}

button {
  transition: background-color 0.3s ease;
}


